/* 전체영역 스타일 */
	#container{
		width: 950px;
		margin: 0 auto;
	}
	
	/* header 스타일 */
	header h1 {
	text-align: center;
	}
	header h1 a {
		font-family: "Agency FB";
		font-weight: bold;
		font-style: italic;
		color: #676767;
	}
	header h1 a:link {  text-decoration: none; }

	nav ul { list-style-type: none;	padding-bottom: 15px; }
	nav ul li { float: left; margin-left: 100px; }
	hr { clear: both; background: black; height: 2px; }
	
	
	/* main 스타일 */
	#main { min-height: 550px; }
	
	/* footer 스타일 */
	footer p { text-align: center; }
	
	/* 링크 스타일 */
	nav a { font-weight: bold }
	nav a:link { text-decoration: none; color: black; }
	nav a:visited { text-decoration: none; color: black; }
	nav a:hover { text-decoration: underline; color: blue; }