<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{fragments/layout}">

<th:block layout:fragment="mystyle">
	<style>
		#view{
		width: 60%;
		margin: 65px auto;
		}
		
		#view div{
		margin-top: 10px;
		}
		
		#view label{
		display: inline-block;
		width: 120px;
		text-align: right;
		font-weight: bold;
		margin-right: 15px
		}
		
		#cnts {
		display: inline-block;
		width: 350px;
		height: 450px;
		}
		/* 
		.dragup {
		vertical-align: top;
		} */
	</style>
</th:block>

<th:block layout:fragment="main">
<div id = "main">
	<h1>   본   문   </h1>
	<div id = "view">
		<div>
			<label for = "tlt">제목</label>
			<span th:text="${bd.title}"></span>
		</div>
		<div>
			<label for = "mid">작성자</label>
			<span th:text="${bd.memberId}"></span>
		</div>
		<div>
			<label for = "rgd">작성일</label>
			<span th:text="${bd.regDate}"></span>
		</div>
		<div>
			<label for = "vws">조회수</label>
			<span th:text="${bd.readcount}"></span>
		</div>
		<div>
			<label for = "cnt" class = "dragup">본문</label>
			<span th:text="${bd.content}" id = "cnts"></span>
		</div>
		<div><label></label>
			<button type = "button" id = "listbtn">목록</button>
			<button type = "button" id = "updatebtn">수정</button>
			<button type = "button" id = "deletebtn">삭제</button>
		</div>
	</div>
</div>
</th:block>

<th:block layout:fragment="myscript">
<script>
let listbtn = document.getElementById('listbtn');
let updatebtn = document.getElementById('updatebtn');
let deletebtn = document.getElementById('deletebtn');
let cnts = document.querySelector('#cnts');

listbtn.addEventListener('click', golist)
updatebtn.addEventListener('click', goupdate)
deletebtn.addEventListener('click', godelete)

function golist() { location.href = '/list?cpg=1' }
function goupdate() {
	if(confirm('수정 하시겠습니까?')) 
		{ location.href = '/upd?boardNo=[[${param.boardNo}]]' };
}
function godelete() {
	if(confirm('정말로 삭제하시겠습니까?')) 
		{ location.href = '/del?boardNo=[[${param.boardNo}]]' };
}

cnts.setAttribute('style', 'white-space: pre;');
</script>
</th:block>